# The manifest template: specifies all files to be included in the distribution.

# Note: these are glob patterns.
# There seems to be a bug in distutils: ../ doesn't get handled properly.
# manifest.in must be in the current directory.

include __init__.py
include manifest.in
include MANIFEST
include install
include uninstall
exclude createLeoDist.py

# New in Leo 4.3: use leoSettings.leo, .leoRecentFiles.txt
include config/leoSettings.leo
include config/.leoRecentFiles.txt

# New in Leo 4.3:
# 1. createLeoDist.py is distributed in dist directory.
#    The distribution script temporarily copies createLeoDist.py to the leo directory.
# 2. Distribute leoDist.leo, not leoDistRef.leo.
# 3. .pycheckrc is distributed in dist directory.
#    Move it to the home directory if you want to use it.

include dist/createLeoDist.py
include dist/leo-4-3.nsi
include dist/leoDist.leo
include dist/.pycheckrc

include doc/LeoDiary.leo

include doc/LeoDocs.leo
include doc/leoNotes.txt
include doc/leoToDo.txt

include doc/README.TXT
include doc/INSTALL.TXT
include doc/PKG-INFO.TXT
include doc/LICENSE.TXT

include doc/default.css
include doc/leo_rst.css
include doc/silver_city.css

include doc\LeoN\sun98achieving.pdf
include doc\LeoN\sun97generic.pdf
include doc\LeoN\sun98operational.pdf
include doc\LeoN\sun98reversible.pdf

# New in 4.3a2: include path.py and sets.py.
include extensions/path.py
include extensions/sets.py

# New in 4.3a2: include all Pmw files (except .pyc and .pyo files)
include extensions/__init__.py

include extensions/Pmw/__init__.py

include extensions/Pmw/Pmw_1_2/__init__.py

include extensions/Pmw/Pmw_1_2/bin/*.*
include extensions/Pmw/Pmw_1_2/contrib/*.*
include extensions/Pmw/Pmw_1_2/demos/*.*
include extensions/Pmw/Pmw_1_2/doc/*.*
include extensions/Pmw/Pmw_1_2/lib/*.*
include extensions/Pmw/Pmw_1_2/tests/*.*

# These will typically generate sdist warnings.
exclude extensions/Pmw/Pmw_1_2/bin/*.pyc
exclude extensions/Pmw/Pmw_1_2/contrib/*.pyc
exclude extensions/Pmw/Pmw_1_2/demos/*.pyc
exclude extensions/Pmw/Pmw_1_2/doc/*.pyc
exclude extensions/Pmw/Pmw_1_2/lib/*.pyc
exclude extensions/Pmw/Pmw_1_2/tests/*.pyc

# These will typically generate sdist warnings.
exclude extensions/Pmw/Pmw_1_2/bin/*.pyo
exclude extensions/Pmw/Pmw_1_2/contrib/*.pyo
exclude extensions/Pmw/Pmw_1_2/demos/*.pyo
exclude extensions/Pmw/Pmw_1_2/doc/*.pyo
exclude extensions/Pmw/Pmw_1_2/lib/*.pyo
exclude extensions/Pmw/Pmw_1_2/tests/*.pyo

include Icons/*.*

include plugins/aspell.pyd
include plugins/leoPlugins.leo
include plugins/*.ini
include plugins/*.txt
include plugins/*.py

include scripts/openLeoScript.sh
include scripts/leoScripts.txt
include scripts/*.py

include src/__init__.py
include src/LeoPy.leo
include src/leo*.py
include src/leoProjects.txt
include src/oldLeoProjects.leo

include test/__init__.py
include test/test.leo

include test/unittest/batchTest.py"
include test/unittest/errorTest.py"
