# The manifest template: specifies all files to be included in the distribution.

# Note: these are glob patterns.
# There seems to be a bug in distutils: ../ doesn't get handled properly.
# manifest.in must be in the current directory.

include __init__.py
include manifest.in
include MANIFEST
include install
include uninstall
exclude createLeoDist.py

# New in Leo 4.3: use leoSettings.leo instead of leoConfig.*

include config/leoSettings.leo

# New in Leo 4.3:
# 1. createLeoDist.py is distributed in dist directory.
#    The distribution script temporarily copies createLeoDist.py to the leo directory.
# 2. Distribute leoDist.leo, not leoDistRef.leo.
# 3. .pycheckrc is distributed in dist directory.
#    Move it to the home directory if you want to use it.

include dist/createLeoDist.py
include dist/leo-4-2.nsi
include dist/leo-4-3.nsi
include dist/leoDist.leo
include dist/.pycheckrc

include doc/LeoDiary.leo
include doc/LeoDiary.txt

include doc/LeoDocs.leo
include doc/leoNotes.txt
include doc/leoToDo.txt

include doc/README.TXT
include doc/INSTALL.TXT
include doc/PKG-INFO.TXT
include doc/LICENSE.TXT

include doc/default.css
include doc/leo_rst.css
include doc/silver_city.css

include extensions/__init__.py

include Icons/*.*

include plugins/aspell.pyd
include plugins/leoPlugins.leo
include plugins/*.ini
include plugins/*.txt
include plugins/*.py

include scripts/leoScripts.txt
include scripts/*.py

include src/__init__.py
include src/LeoPy.leo
include src/leo*.py
include src/leoProjects.txt
include src/oldLeoProjects.leo

include test/__init__.py
include test/test.leo